h1, li, p {
  font-family: Poppins;
  color: #DCDBDB;
}

h1 {
  text-align: left;
}

/* Handle yellow auto-fill behavior in Chrome */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

/deep/ .mat-input-placeholder {
  color: #fff;
  font-size: 2em;
}

/deep/ button.mat-fab.mat-primary {
  color: #fff;
}
/deep/ button.mat-fab.mat-primary[disabled] {
  color: #fff;
}
@media (max-width: 767px) {
  .route-map {
    background-image: url(./../resources/blvd-map-best-start-finish-park-names-small-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    alt: "Course map";
    margin: 10px;
  }

  h1 {
    font-size: 1.8em;
    font-weight: bold;
  }
  li {
    list-style-image: url("./../resources/western-star-clip-art-clipart-red-star-d2db-18px.png");
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .run-details, .user-signup {
      margin: 10px;
  }

  p {
    font-size: 1.2em;
    font-weight: bold;
  }
 }
@media(min-width: 768px) {

  .route-map {
    background-image: url(./../resources/blvd-map-best-start-finish-park-names-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
    alt: "Course map";
    margin: 20px;

  }

  li {
    list-style-image: url("./../resources/western-star-clip-art-clipart-red-star-d2db-18px.png");
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
  }

  p {
    font-size: 1.2em;
    font-weight: bold;
  }
  div:first-child {
    flex: 1;
  }

  div:nth-of-type(2) {
    align-items: center;
    flex: 3;
  }
  .flex {
    display: flex;
    flex-direction: row;
  }
  .run-details, .user-signup {
      margin: 20px;
  }
}

nav {
  height: 40px;
  text-align: left;
  margin-top: 5px;
}

.long-input {
  width: 250px;
}
