<div class="content">
  <header class="flex-header info">
    <h1>
      The Chicago Boulevard Project
    </h1>
    <nav>
      <a class="btn btn-lg btn-social-icon" aria-label="Follow on Twitter" href="https://twitter.com/ChiBlvdProject">
        <span class="fa fa-twitter fa-1x"></span>
      </a>
      <a class="btn btn-lg btn-social-icon btn-facebook" aria-label="Follow on Facebook" href="https://www.facebook.com/ChiBlvdProject/">
        <span class="fa fa-facebook fa-1x"></span>
      </a>
    </nav>
  </header>
  <div class="flex">
    <div class="flex-details">
      <ul>
        <li>A 50K run on historic boulevards from Jackson Park to Logan Square</li>
        <li>Run as an individual, on a relay team, or join up for your neighborhood</li>
        <li>Coming late fall 2017</li>
        <li>Enter your email to receive project updates</li>
      </ul>
      <form class="user-signup">
        <md-input-container>
          <input class="long-input" mdInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="email" name="email">
          <md-error *ngIf="emailFormControl.hasError('required')">
            This field is required
          </md-error>
          <md-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
          </md-error>
        </md-input-container>
        <button md-fab color="primary" [disabled]="!emailFormControl.valid" (click)="submitEmail()">Join</button>
        <p *ngIf="isEmailSuccess">Thanks for your interest! We'll be in touch soon.</p>
      </form>
    </div>
    <div class="route-map"></div>
  </div>
  <!--<div>
    <footer></footer>
  </div>-->
</div>
